/* Global */


body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.btn {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ff3f40;
    padding: 20px 70px;
    border-radius: 5px;
    transition: .5s;
    border: none;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 26px 8px #FF3F40;
}

.btn:focus {
    outline: none;
}

.title {
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* Header */


.header {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.header_nav {
    width: 100%;
    background-color: #313030;
    display: flex;
    justify-content: center;
}

.nav_link {
    font-size: 14px;
    color: #e0e0e0;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 25px;
    transition: .5s;
}

.nav_link:hover {
    background-color: #ff3f40;
}


/* Intro */


.intro {
    background-color: #f6f2f2;
    height: 690px;
    padding-top: 210px;
}

.intro .container {
    display: flex;
    justify-content: space-between;
}

.intro_left {
    width: 560px;
} 

.intro_title {
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.intro_description {
    margin-bottom: 65px;
}

.intro_right {
    box-shadow: 0px 0px 104px -39px #000000;
    max-height: 310px;
}

.intro_right iframe {
    border: none;
}


/* What we can */


.what_we_can {
    margin-top: 100px;
}

.what_we_can .container {
    gap: 35px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.we_can_description {
    margin-bottom: 65px;
    max-width: 500px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
    margin-top: 5px;
}

.we_can_item {
    width: 50%;
}

.services_title {
    margin: 65px 0 15px;
    font-size: 24px;
}

.services_item {
    width: 45%;
    position: relative;
}

.services_item::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
}

.services_item:nth-child(1)::before {
    background: url("img/skills1.png") no-repeat;
}

.services_item:nth-child(2)::before {
    background: url("img/skills2.png") no-repeat;
}

.services_item:nth-child(3)::before {
    background: url("img/skills3.png") no-repeat;
}

.services_item:nth-child(4)::before {
    background: url("img/skills4.png") no-repeat;
}


/* Portfolio */


.portfolio {
    text-align: center;
    margin-bottom: 130px;
}

.portfolio_title {
    margin-top: 95px;
    margin-bottom: 15px;
}

.porfolio_description {
    width: 520px;
    margin: 0 auto;
    position: relative;
}

.porfolio_description::after {
    content: '';
    width: 130px;
    height: 2px;
    background-color: #ff3f40;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate3d(-50%, 0 , 0);
}

.portfolio_filter {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 110px;
    margin-bottom: 60px;
}

.filter_item {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    transition: .3s;
    font-weight: 600;
}

.filter_item:hover {
    color: #ff3f40;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.products_item {
    transition: .3s;
    max-height: 290px;
}

.products_item:hover {
    box-shadow: 0px 0px 34px 10px #9B9B9B;;
}


/* Team */


.team {
    margin-bottom: 110px;
}

.team_title {
    margin-bottom: 25px;
}

.team_description {
    width: 450px;
    position: relative;
    margin-bottom: 100px;
}

.team_description::after {
    content: '';
    width: 130px;
    height: 2px;
    background-color: #ff3f40;
    position: absolute;
    top: 110px;
    left: 0;
}

.team_members {
    display: flex;
    position: relative;
    padding-left: 390px;
    align-items: flex-end;
    height: 460px;
}

.team_item_image {
    height: 460px;
}

.team_item {
    height: 215px;
    position: relative;
    cursor: pointer;
}

.member_name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.team_text {
    width: 670px;
    margin-bottom: 30px;
}

.member_social a {
    margin-right: 35px;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    transition: .2s;
}

.member_social a:hover {
    color: #ff3f40;
}

.member_name.unselected {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.team_unselected {
    display: flex;
    gap: 20px;
}

.member_name.unselected {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
    vertical-align: middle;
    height: 0;
}

.team_item:hover .member_name.unselected {
    height: 42px;
    padding: 7px;
}

.team_item.selected {
    display: flex;
    gap: 70px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: auto;
}


/* Subscribe */


.subscribe {
    background-color: #ccc;
    text-align: center;
    padding: 140px 0;
}

.subscribe_title {
    color: #fff;
    margin-bottom: 20px;
}

.subscribe_btn {
    padding: 25px 60px;
}

.input {
    padding: 25px 35px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 520px;
    transition: .5s;
    margin-right: 25px;
}

.input:focus {
    outline: none;
    border-color: #ff3f40;
}

.subscribe_text {
    color: #fff;
    margin-bottom: 60px;
}