body {
	margin: 0;
	font-family: "Open Sans";
	font-size: 16px;
	color: #2e2f22;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figure {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Spectral SC;
	font-weight: bold;
}

h2 {
	font-size: 36px;
	line-height: 55px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

h4 {
	font-size: 18px;
	line-height: 28px;
}

section {
	margin-top: 85px;
}

.button {
	text-align: center;
	margin-top: 44px;
}

.btn:hover {
	cursor: pointer;
}

.btn {
	width: 224px;
	height: 46px;
	border: 1px solid #202117;
	border-radius: 10px;
	background-color: white;
	font-size: 16px;
	line-height: 22px;
	color: #202117;
	margin: auto;
	text-align: center;
}

blockquote {
	margin: 0;
}


/* Container */


.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header */


.header {
	display: flex;
	justify-content: space-between;
}

.intro {
	background: url("images/header.jpg") no-repeat;
	min-height: 581px;
	width: 100%;
	background-size: cover;
}

.logo {
	background: url("images/logo.png") no-repeat;
	width: 130px;
	height: 83px;
	margin-top: 4px;
}

.nav {
	display: flex;
	margin-top: 33px;
	font-size: 18px;
	line-height: 25px;
}

.nav_item {
	margin-left: 83px;
	width: auto;
	white-space: nowrap;
}

.nav_item a {
	text-decoration: none;
	color: #2E2F22;
}

.nav_item a:hover {
	text-decoration: underline;
}

.intro_post {
	background: url("images/post_header.jpg") no-repeat;
	min-height: 581px;
	width: 100%;
	background-size: cover;
}


/* Articles */


.hidden {
	display: none;
}

.articles_header {
	display: flex;
	justify-content: space-between;
}

.select:hover {
	cursor: pointer;
}

.select {
	width: 203px;
	height: 46px;
	background-color: #D7D1C9;
	border-radius: 10px;
	font-family: "Open Sans";
	font-size: 16px;
	color: #2e2f22;
	border: none;
	padding: 10px;
	line-height: 22px;
}

.articles {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 49px;
}

.articles a {
	text-decoration: none;
	color: inherit;
}

.articles a:hover {
	text-decoration: underline;
}

.article_item {
	width: 387px;
	flex-grow: 1;
	margin: 0 0 58px 16px;
	position: relative;	
}

.article_item:first-child,
.article_item:nth-child(4) {
	margin-left: 0;
}

.article_item h3,
.article_item h4 {
	margin-top: 23px;
}

.article_item:last-child {
	margin-left: 20px;
}

.article_description {
	margin: 8px 0 12px 0;
	line-height: 26px;
	width: 357px;
}

.article_info {
	display: flex;
	justify-content: space-between;
	width: 387px;
	color: rgba(46, 47, 34, 0.7);
	line-height: 26px;
}

.article_item:nth-child(4) h3,
.article_item:nth-child(4) p,
.article_item:nth-child(4) div,
.article_item:last-child h3,
.article_item:last-child p,
.article_item:last-child div {
	position: absolute;
	color: #FFFFFF;
	left: 82px;
}

.article_item:nth-child(4) h3,
.article_item:last-child h3 {
	bottom: 165px;
	left: 82px;
	margin: 0;
}

.article_item:nth-child(4) p,
.article_item:last-child p {
	bottom: 101px;
	font-size: 18px;
	line-height: 28px;
	width: 420px;
	margin: 0;
}

.article_item:nth-child(4) div,
.article_item:last-child div {
	bottom: 62px;
	opacity: 0.7;
	width: 428px;
}


/* About Me */

.about_me h2 {
	text-align: center;
}

.about_img {
	margin: 49px 40px 0 0;
	float: left;
}

.about_text {
	margin-top: 91px;
	line-height: 26px;
    padding-right: 25px;
}

.about_text p {
	margin-bottom: 26px;
}

.about_text a {
	color: inherit;
}

blockquote {
	font-family: "Open Sans";
	font-style: italic;
	font-size: 30px;
	line-height: 40px;
	margin-top: 100px;
	width: 1200px;
}

blockquote::before {
	content: "";
	border-left: 3px solid #D7D1C9;
	position: relative;
    right: 22px;
    padding: 25px 0 146px 0;
}


/* Portfolio */


.portfolio h2 {
	text-align: center;
	margin-top: 113px;
}

.posts {
	display: flex;
	justify-content: space-between;
}

.post {
	margin: 46px 10px 0 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.post:nth-child(2) {
	color: #ffffff;
}

.post:last-child {
	margin-right: 0;
}

.posts h3,
.posts h4,
.posts p {
	position: absolute;
}


.posts h3 {
	top: 141px;
}

.posts h4 {
	top: 215px;
}

.posts p {
	top: 289px;
	line-height: 26px;
}

.post:first-child p {
	top: 259px;
}

.portfolio .btn {
	text-transform: uppercase;
}

.portfolio .button {
	margin-top: 98px;
}


/* Write me */


.write_me h2 {
	text-align: center;
}

.write_me_form {
	background: url("images/form.jpg") no-repeat;
	margin: 0 auto;
	margin-top: 48px;
	width: 996px;
	height: 637px;
	position: relative;
	margin-bottom: 81px;
}

.write_me_form label {
	position: absolute;
}

.write_me_form input,
.write_me_form textarea {
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid #202117;
	border-radius: 10px;
	width: 407px;
	height: 63px;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 22px;
	padding: 19px;
}

.write_me_form textarea {
	width: 837px;
	height: 293px;
	resize: none;
}

.write_me_form h4 {
	margin-bottom: 11px;
}

.name {
    top: 53px;
    left: 81px;
}

.email {
	top: 53px;
	right: 81px;
}

.message {
	top: 177px;
    right: 78px;
}

.button input {
	width: 224px;
	height: 46px;
	padding: 0;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);
}

.button input:hover {
	cursor: pointer;
}

.write_me_form .button {
	position: absolute;
	top: 485px;
    left: 386px;
}

.warning {
	color: red;
}

/* Footer */


.footer {
	background: #D7D1C9;
	min-height: 181px;
}

.footer_links {
	display: flex;
	justify-content: space-between;
	width: 630px;
    margin: 0 auto;
    padding-top: 65px;
}

.footer a {
	text-decoration: none;
	color: #2E2F22;
	font-size: 18px;
	line-height: 25px;
}

/* Article */


.article_body {
	width: 1000px;
}

.article_body .article_info {
	width: 316px;
	line-height: 40px;
	margin-bottom: 42px;
}

.article_body p {
	margin-bottom: 26px;
    line-height: 26px;
}

.article_body figure {
	margin-top: 40px;
	margin-bottom: 35px;
}

figcaption {
	font-size: 14px;
	line-height: 35px;
}

.like {
	border: 0;
	background: url("images/like.png");
	margin-top: 15px;
	width: 50px;
	height: 50px;
	position: relative;
}

.added {
	background: url("images/like_added.png");
}

.like span {
	position: absolute;
	top: 20px;
    left: 64px;
    font-size: 25px;
    font-family: "Open Sans";
}

.like:hover {
	cursor: pointer;
}

.article_icons {
	display: flex;
	justify-content: space-between;
}

.article_links {
	margin-top: 16px;
}

.link {
	margin-left: 34px;
}

.link a {
	text-decoration: none;
	font-size: 0;
}

.back {
	margin-top: 30px;
}

.back img {
	margin-left: 24px;
    margin-bottom: 3px;
}

.back a {
	text-decoration: none;
	color: inherit;
}

.back a:hover {
	text-decoration: underline;
}

.back h2 {
	font-family: "Open Sans";
	line-height: 49px;
	font-weight: bold;
	display: inline;
}


/* Comments */


.comments_section {
	margin-top: 65px;
	width: 793px;
	margin-bottom: 82px;
}

.comment img {
	border-radius: 10px;
}

.comment {
	position: relative;
	list-style: none;
}

.comment p {
	position: absolute;
	margin-top: 8px;
}

.comment:nth-child(2) {
	margin-top: 31px;
}

.comment span {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	position: absolute;
	top: 13px;
    left: 63px;
}

.comments {
	height: 429px;
	background: #ece1e1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 45px 0 79px 102px;
}

.comment_form {
	margin-top: 77px;
    margin-left: 82px;
}

.comment_form form {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.comment_form input {
	border: none;
	border-bottom: 1px solid #2E2F22;
	margin-top: 34px;
    width: 221px;
    font-size: 16px;
	line-height: 22px;
	font-family: Open Sans;
	padding-bottom: 14px;
}

.comment_form textarea {
	width: 406px;
	height: 208px;
	border-radius: 10px;
	align-self: flex-end;
    position: absolute;
    top: 35px;
    font-size: 16px;
	line-height: 22px;
	font-family: Open Sans;
	padding: 17px 19px;
	resize: none;
}

.comment_form .button input {
	border: 1px solid #202117;
	border-radius: 10px;
	text-transform: none;
	padding: 0;
}

.comment_form .button {
	margin: 0;
	margin-top: 19px;
	width: 225px;
}

.comments_section h3 {
	font-size: 24px;
	line-height: 33px;
	font-family: "Open Sans";
	margin-bottom: 34px;
}